.file-bar-controls {
	height: 5%;
	width: 100%;

	display: flex;

	gap: 30px;

	align-items: center;
	justify-content: flex-start;

	padding: 0 15px;
}

.file-bar-controls-buttons {
	display: flex;

	gap: 15px;

	position: relative;
}

.file-bar-controls-buttons::after {
	content: "";

	position: absolute;

	left: 130%;

	height: 100%;
	width: 2px;

	background-color: #3D3D3D70;
}

.file-bar-control-icon {
	color: white;

	position: relative;

	cursor: pointer;
}

.file-bar-control-icon:hover::before {
	content: "";

	width: 100%;
	height: 2px;

	background-color: white;

	position: absolute;

	top: -20%
}