
.sql-editor-container {
	height: 100%;

	display: flex;

	flex-direction: column;
}

.sql-editor-controls {
	height: 5%;
	width: 100%;

	display: flex;

	gap: 15px;

	align-items: center;
	justify-content: flex-start;

	padding-left: 15px
}

.sql-editor-control-icon {
	color: white;

	position: relative;
}

.sql-editor-control-icon:hover::before {
	content: "";

	width: 100%;
	height: 2px;

	background-color: white;

	position: absolute;

	top: -20%
}
